@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

html{
    --bg:#D3D3D3;
    --bg1: #d9dbdb;
    --bg2: #757575;
    --branco: #fff;
    --logo: #464646;
    --cinza: #383838;
    --cnz: #bbb;
    --houver: #0f0f0f;
    --text: #353535;
    --text1: #0076c5;
}

html[data-theme='dark']{
    --bg:#383838;
    --bg1: #424242;
    --bg2: #505050;
    --branco: #181818;
    --logo: #fff;
    --cinza: #b9b9b9;
    --cnz: #fff;
    --houver: #919191;
    --text: #fff;
    --text1: #0099ff;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,input{
    font-family: "Poppins", sans-serif;
}

main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--bg);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: var(--branco);
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0,0,0, 0.27);
}

.inner-box{
    position: absolute;
    width: calc(100% - 4.1rem);
    height:calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap{
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}

form{
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

form.sign-up-form{
    opacity: 0;
    pointer-events: none;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 47px;
    border-radius: 50%;
    margin-right: 0.3rem;
}

.logo h4{
    font-size: 1.1rem;
    margin-top: -9px;
    letter-spacing: -0.5px;
    color: var(--logo);
}

.heading h2{
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--logo);
}

.heading h6{
    color: var(--cinza);
    font-weight: 400;
    font-size: 0.75rem;
    display: inline;
}

.toggle{
    color: var(--logo);
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.5s;
}

.toggle:hover{
    color: var(--branco);
    background: var(--bg);
    border-radius: 10px;
    padding: 10px;
}

.input-wrap{
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.input-field{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--cnz);
    padding: 0;
    font-size: 0.95rem;
    color: var(--logo);
    transition: 0.4rem;
}

label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.95rem;
    color: var(--cnz);
    pointer-events: none;
    transition: 0.4s;
}

.input-field.active{
    border-bottom-color: var(--logo);
}

.input-field.active + label{
    font-size: 0.75rem;
    top: -2px;
}

.sign-btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: var(--bg);
    color: var(--branco);
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.5s;
}

.sign-btn:hover{
    background-color: var(--houver);
}

.text{
    color: var(--text);
    font-size: 0.7rem;
}

.text a{
    color: var(--text);
    transition: 0.3s;
}

.text a:hover{
    color: var(--text1);
}

main.sign-up-mode form.sign-in-form{
    opacity: 0;
    pointer-events: none;
}

main.sign-up-mode form.sign-up-form{
    opacity: 1;
    pointer-events: all;
}

main.sign-up-mode .forms-wrap{
    left: 55%;
}

main.sign-up-mode .img{
    left: 0;
}

.img{
    border-radius: 20px;
    background: var(--bg1);
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.img img{
    width: 100%;
}

/* ------------------------- Começo Botão ------------------------- */

.botao{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding-top: 150px;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label-btn{
    background-color: var(--bg2);
    border-radius: 50px;
    cursor: pointer;
    pointer-events: all;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.label-btn .ball{
    background-color: var(--bg);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label-btn .ball{
    transform: translateX(24px);
}

.fa-moon{
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;
}

/* ------------------------- Fim Botão ------------------------- */

@media (max-width: 850px){
    .box{
        height: auto;
        max-width: 550px;
        overflow: hidden;
    }

    .inner-box{
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
    }

    .forms-wrap{
        position: revert;
        width: 100%;
        height: auto;
    }

    form{
        max-width: revert;
        padding: 1.5rem 2.5rem 2rem;
        transition: transform 0.8s ease-in-out,
                    opacity 0.45s linear;
    }

    .heading {
        margin: 2rem 0;
      }
    
      form.sign-up-form {
        transform: translateX(100%);
      }
    
      main.sign-up-mode form.sign-in-form {
        transform: translateX(-100%);
      }
    
      main.sign-up-mode form.sign-up-form {
        transform: translateX(0%);
      }

    .img{
        position: revert;
        height: auto;
        width: 100%;
        padding: 3rem 2rem;
        display: flex;
    }
}

@media (max-width: 530px){
    main{
        padding: 1rem;
    }

    .box{
        border-radius: 2rem;
    }

    .inner-box{
        padding: 1rem;
    }

    .img{
        padding: 1.5rem 1rem;
        border-radius: 1.6rem;
    }

    form{
        padding: 1rem 2rem 1.5rem;
    }
}